@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
// @import '../../node_modules/@fortawesome/fontawesome-free/scss/light.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';

 
/*
 * Pallet
 *------------------------------------*/
//@import "common/pallet";



/*
 * Includes
 *------------------------------------*/
@import "foundation-includes";

/*
 * Common
 *------------------------------------*/
 @import 
 "common/mixins",
 "common/helpers",

 "common/reusable.scss";

/*
 * Components
 *------------------------------------*/
@import "components/product-tile";
@import "components/accessories-slide";
//@import "components/search-sort-table";

/*
 * Sections
 *------------------------------------*/
// @import "site";
// @import "admin";

.slide-window {
    width: 100%;  
    overflow: hidden;

    .slide-track {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        position: relative;
        left: 0;
        transition: left 1s;
    }
}
